<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">
        
	<!-- 自动扫描包 -->
	<context:component-scan base-package="com.ssm" />

	<!--注解支持-->
	<mvc:annotation-driven />
	
	<!-- spring mvc中配置一个全局的拦截器栈（链） -->
	<!--<mvc:interceptors>
		 配置一个完整的拦截器,按照配置顺序执行 
		<mvc:interceptor>
			 拦截要拦截的请求路径:/*:只拦截项目根目录的第一级请求；/**：拦截项目根目录及其子目录的请求 
			<mvc:mapping path="/**" />
			 拦截器的实现类 
			<bean class="com.ssm.interceptor.LoginInterceptorByDo" />
		</mvc:interceptor>
	</mvc:interceptors>

	--><!-- 配置一个springmvc框架的视图解析器 -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/" />
		<property name="suffix" value=".jsp" />
	</bean>

	<!-- 上传文件 -->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="maxUploadSize">
			<value>5242880</value>
		</property>
	</bean>

</beans>